<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>The Amazing Kale Burger Brunch</title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body>

  <div class="site">

    <div class="logo">  
      <img src="images/kblogo.png" alt="The Amazing Kale Burger" />
    </div>

    <div id="allMenuItems"></div>

    <div id="copy"></div>

    <div id="footer">
      SIDESHOW BRUNCH
    </div>

    <address>
      Amazing Kale Burger - 741 Howard Street, Evanston, IL 60202 - 847.660.4330
    </address>

  </div> 

    <script id="menuItemElement" type="text/template">
      <a href="#<%= link %>"><img src="<%= img %>" alt="<%= name %>" class="image" /></a>
        <p class="menuItemInfo"><strong><%= name %></strong>
        <p class="menuItemInfo"><strong>$<%= price %></strong>
    </script>


  <script src="js/libs/jquery.js"></script>
  <script src="js/libs/underscore.js"></script>
  <script src="js/libs/backbone.js"></script>
  <script src="js/models/menuItemModel.js"></script>
  <script src="js/views/menuItemView.js"></script>
  <script src="js/views/allMenuItemsView.js"></script>
  <script src="js/collections/allMenuItems.js"></script>
  <script src="js/routes/router.js"></script>
  <script src="js/menuItemApp.js"></script>

</body>
</html>